@import "tailwindcss";

@font-face {
  font-family: CreamCake;
  src: url("/fonts/CreamCake.otf") format("opentype");
}

@font-face {
  font-family: CreamCakeBold;
  src: url("/fonts/CreamCakeBold.otf") format("opentype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: Boughy;
  src: url("/fonts/Boughy.otf") format("opentype");
  height: 10px;
}

@font-face {
  font-family: Almie;
  src: url("/fonts/Almie.otf") format("opentype");
}

@theme {
  --color-cake: #1c1456;
  --color-pinky: #c7b3ff;
  --color-yello: #f6e273;
  --font-creamcake: CreamCake;
  --font-creamcakebold: CreamCakeBold;
  --font-boughy: Boughy;
  --font-almie: Almie;
}
